#ntabimprove{
  list-style-image: url("chrome://ntabimprovelite/skin/icon16.png") !important;
}

#ntabimprove:-moz-lwtheme-brighttext {
  list-style-image: url("chrome://ntabimprovelite/skin/icon16-inverted.png") !important;
}
#TabsToolbar:last-child :-moz-any(#ntabimprove) {
  list-style-image: url("chrome://ntabimprovelite/skin/icon16-inverted.png") !important;
}

#ntabimprove{
  -moz-box-orient: horizontal !important;
}
