/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is “Incompatible With
 * Secondary Licenses”, as defined by the Mozilla
 * Public License, v. 2.0. */

#ntabimprove{
  list-style-image: url(chrome://ntabimprovelite-os/skin/icon16.png) !important;
}

#ntabimprove[cui-areatype="toolbar"]:not([overflowedItem="true"]):-moz-lwtheme-brighttext {
  list-style-image: url(chrome://ntabimprovelite-os/skin/icon16-inverted.png) !important;
}

#ntabimprove[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #ntabimprove {
  list-style-image: url(chrome://ntabimprovelite-os/skin/icon32.png) !important;
}

@media (-moz-mac-lion-theme) {
  #ntabimprove:hover:active:not([disabled="true"]):not([cui-areatype="menu-panel"]) {
    list-style-image: url(chrome://ntabimprovelite-os/skin/icon16-active.png) !important;
  }
  #ntabimprove[cui-areatype="toolbar"]:not([overflowedItem="true"]):hover:active:not([disabled="true"]):-moz-lwtheme-brighttext {
    list-style-image: url(chrome://ntabimprovelite-os/skin/icon16-inverted-active.png) !important;
  }
}

@media (-moz-mac-lion-theme) and (min-resolution: 2dppx) {
  #ntabimprove{
    list-style-image: url(chrome://ntabimprovelite-os/skin/icon16@2x.png) !important;
  }
  #ntabimprove[cui-areatype="toolbar"]:not([overflowedItem="true"]):-moz-lwtheme-brighttext {
    list-style-image: url(chrome://ntabimprovelite-os/skin/icon16-inverted@2x.png) !important;
  }
  #ntabimprove[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #ntabimprove {
    list-style-image: url(chrome://ntabimprovelite-os/skin/icon32@2x.png) !important;
  }

  #ntabimprove:hover:active:not([disabled="true"]):not([cui-areatype="menu-panel"]) {
    list-style-image: url(chrome://ntabimprovelite-os/skin/icon16-active@2x.png) !important;
  }
  #ntabimprove[cui-areatype="toolbar"]:not([overflowedItem="true"]):hover:active:not([disabled="true"]):-moz-lwtheme-brighttext {
    list-style-image: url(chrome://ntabimprovelite-os/skin/icon16-inverted-active@2x.png) !important;
  }

  #ntabimprove > .toolbarbutton-icon,
  #ntabimprove > .toolbarbutton-menubutton-button > .toolbarbutton-icon {
    width: 16px;
  }
}
